<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.onlinemarketplaceservice.mapper.ProductMapper">

  <insert id="insertProduct" parameterType="InsertProductDto">
    INSERT INTO product (seller_id, title, price, shipping_fee, category_id, amount, description,
                         main_image, detailed_image1, detailed_image2, detailed_image3)
    VALUES (#{sellerId}, #{title}, #{price},
            #{shippingFee},
            #{categoryId}, #{amount}, #{description},
            #{mainImage},
            #{detailedImage1}, #{detailedImage2}, #{detailedImage3});
  </insert>

  <select id="selectProductList"
    resultType="com.project.onlinemarketplaceservice.dto.Product">
    SELECT
    p.id AS productId,
    p.seller_id AS sellerId,
    s.nickname,
    p.title,
    p.price,
    p.shipping_fee AS shippingFee,
    p.category_id AS categoryId,
    c.name AS categoryName,
    p.amount,
    P.main_image AS mainImage,
    p.published_at AS publishedAt
    FROM marketplace.product p
    JOIN category c ON p.category_id = c.id
    JOIN seller s ON p.seller_id = s.id
    <include refid="selectProductListAndCountWhereStatement"/>
    <if test="pageable.sort.sorted">
      <trim prefix="order by">
        <foreach item="order" index="i" collection="pageable.sort">
          <choose>
            <when test="order.property == 'price'">price ${order.direction}</when>
            <when test="order.property == 'publishedAt'">published_at ${order.direction}</when>
          </choose>
        </foreach>
      </trim>
    </if>
    LIMIT #{pageable.pageSize} OFFSET #{pageable.offset};
  </select>

  <select id="selectProductTotalCount" resultType="Long">
    SELECT COUNT(*)
    FROM marketplace.product p
    <include refid="selectProductListAndCountWhereStatement"/>
  </select>

  <sql id="selectProductListAndCountWhereStatement">
    <where>
      <if test="search.categoryId != null">
        AND p.category_id = #{search.categoryId}
      </if>
      <if test="search.keyword != null">
        AND p.title LIKE CONCAT('%',#{search.keyword},'%')
      </if>
      <if test="search.sellerId != null">
        AND p.seller_id = #{search.sellerId}
      </if>
    </where>
  </sql>

  <resultMap id="productDetail" type="ProductDetailDto">
    <result property="description" column="description"/>
    <result property="detailedImage1" column="detailed_image1"/>
    <result property="detailedImage2" column="detailed_image2"/>
    <result property="detailedImage3" column="detailed_image3"/>
    <association property="product" javaType="Product">
      <id property="productId" column="id" javaType="Long"/>
      <id property="sellerId" column="seller_id" javaType="Long"/>
      <result property="nickname" column="nickname"/>
      <result property="title" column="title"/>
      <result property="price" column="price"/>
      <result property="shippingFee" column="shipping_fee"/>
      <result property="categoryId" column="category_id"/>
      <result property="categoryName" column="name"/>
      <result property="amount" column="amount"/>
      <result property="mainImage" column="main_image"/>
      <result property="publishedAt" column="published_at"/>
    </association>
  </resultMap>

  <select id="selectProduct" parameterType="int" resultMap="productDetail">
    SELECT p.id,
           p.seller_id,
           s.nickname,
           p.title,
           p.price,
           p.shipping_fee,
           p.category_id,
           c.name,
           p.amount,
           p.description,
           p.main_image,
           p.detailed_image1,
           p.detailed_image2,
           p.detailed_image3,
           p.published_at
    FROM marketplace.product p
           JOIN category c ON p.category_id = c.id
           JOIN seller s ON p.seller_id = s.id
    WHERE p.id = #{productId};
  </select>

  <update id="updateProduct">
    UPDATE marketplace.product
    SET title           = #{UpdateProductDto.title},
        price           = #{UpdateProductDto.price},
        shipping_fee    = #{UpdateProductDto.shippingFee},
        category_id     = #{UpdateProductDto.categoryId},
        amount          = #{UpdateProductDto.amount},
        description     = #{UpdateProductDto.description},
        main_image      = #{UpdateProductDto.mainImage},
        detailed_image1 = #{UpdateProductDto.detailedImage1},
        detailed_image2 = #{UpdateProductDto.detailedImage2},
        detailed_image3 = #{UpdateProductDto.detailedImage3}
    WHERE id = #{productId};
  </update>

  <delete id="deleteProduct">
    DELETE
    from marketplace.product
    WHERE id = #{productId};
  </delete>

</mapper>