<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.onlinemarketplaceservice.mapper.ProductMapper">

  <insert id="insertProduct" parameterType="InsertProductDto">
    INSERT INTO product (seller_id, title, price, shipping_fee, category_id, amount, description,
                         main_image, detailed_image1, detailed_image2, detailed_image3)
    VALUES (#{baseProductDto.sellerId}, #{baseProductDto.title}, #{baseProductDto.price},
            #{baseProductDto.shippingFee},
            #{baseProductDto.categoryId}, #{baseProductDto.amount}, #{description},
            #{baseProductDto.mainImage},
            #{detailedImage1}, #{detailedImage2}, #{detailedImage3});
  </insert>

  <resultMap id="productList" type="BaseProductDto"
    autoMapping="true">
      <id property="productId" column="id" javaType="Long"/>
      <id property="sellerId" column="seller_id" javaType="Long"/>
      <result property="nickname" column="nickname"/>
      <result property="title" column="title"/>
      <result property="price" column="price"/>
      <result property="shippingFee" column="shipping_fee"/>
      <result property="categoryId" column="category_id"/>
      <result property="categoryName" column="name"/>
      <result property="amount" column="amount"/>
      <result property="mainImage" column="main_image"/>
  </resultMap>

  <select id="selectProductList"
    parameterType="com.project.onlinemarketplaceservice.pagination.ProductSearchConditionDto"
    resultMap="productList">
    SELECT
    SQL_CALC_FOUND_ROWS
    p.id,
    p.seller_id,
    s.nickname,
    p.title,
    p.price,
    p.shipping_fee,
    p.category_id,
    c.name,
    p.amount,
    P.main_image
    FROM marketplace.product p
    JOIN category c ON p.category_id = c.id
    JOIN seller s ON p.seller_id = s.id
    <where>
      <if test="categoryId != null">
        p.category_id = #{categoryId}
      </if>
      <if test="searchKeyword != null">
        p.title LIKE CONCAT('%',#{searchKeyword},'%')
      </if>
    </where>
    ORDER BY
    <choose>
      <when test="sort == 'date'">published_at DESC</when>
      <when test="sort == 'price_asc'">price</when>
      <when test="sort == 'price_desc'">price DESC</when>
    </choose>
    LIMIT #{recordCountPerPage} OFFSET #{offsetNum};
  </select>

  <select id="selectProductTotalCount" resultType="Integer">
    SELECT COUNT(*) FROM marketplace.product;
  </select>

  <resultMap id="productDetail" type="ProductDetailDto">
    <result property="description" column="description"/>
    <result property="detailedImage1" column="detailed_image1"/>
    <result property="detailedImage2" column="detailed_image2"/>
    <result property="detailedImage3" column="detailed_image3"/>
    <result property="publishedAt" column="published_at"/>
    <association property="baseProductDto" javaType="BaseProductDto">
      <id property="productId" column="id" javaType="Long"/>
      <id property="sellerId" column="seller_id" javaType="Long"/>
      <result property="nickname" column="nickname"/>
      <result property="title" column="title"/>
      <result property="price" column="price"/>
      <result property="shippingFee" column="shipping_fee"/>
      <result property="categoryId" column="category_id"/>
      <result property="categoryName" column="name"/>
      <result property="amount" column="amount"/>
      <result property="mainImage" column="main_image"/>
    </association>
  </resultMap>

  <select id="selectProduct" parameterType="int" resultMap="productDetail">
    SELECT p.id,
           p.seller_id,
           s.nickname,
           p.title,
           p.price,
           p.shipping_fee,
           p.category_id,
           c.name,
           p.amount,
           p.description,
           p.main_image,
           p.detailed_image1,
           p.detailed_image2,
           p.detailed_image3,
           p.published_at
    FROM marketplace.product p
           JOIN category c ON p.category_id = c.id
           JOIN seller s ON p.seller_id = s.id
    WHERE p.id = #{productId};
  </select>

  <update id="updateProduct">
    UPDATE marketplace.product
    SET title           = #{UpdateProductDto.baseProductDto.title},
        price           = #{UpdateProductDto.baseProductDto.price},
        shipping_fee    = #{UpdateProductDto.baseProductDto.shippingFee},
        category_id     = #{UpdateProductDto.baseProductDto.categoryId},
        amount          = #{UpdateProductDto.baseProductDto.amount},
        description     = #{UpdateProductDto.description},
        main_image      = #{UpdateProductDto.baseProductDto.mainImage},
        detailed_image1 = #{UpdateProductDto.detailedImage1},
        detailed_image2 = #{UpdateProductDto.detailedImage2},
        detailed_image3 = #{UpdateProductDto.detailedImage3}
    WHERE id = #{productId};
  </update>

  <delete id="deleteProduct">
    DELETE
    from marketplace.product
    WHERE id = #{productId};
  </delete>

</mapper>